PPE3_Daltons/Service References/API_Daltons/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56460/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/API_Daltons" />
  <xs:element name="AddCompte_Rendu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="compte_rendu" nillable="true" type="q1:Compte_rendu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompte_RenduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCompte_RenduResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="intervention" nillable="true" type="q2:Intervention" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterventionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInterventionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSociete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="societe" nillable="true" type="q3:Societe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSocieteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSocieteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="technicien" nillable="true" type="q4:Technicien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTechnicienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompte_Rendu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="compte_rendu" nillable="true" type="q5:Compte_rendu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompte_RenduResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="intervention" nillable="true" type="q6:Intervention" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInterventionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMateriel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="materiel" nillable="true" type="q7:Materiel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterielResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSociete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="societe" nillable="true" type="q8:Societe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSocieteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTechnicien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="technicien" nillable="true" type="q9:Technicien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTechnicienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompte_rendu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompte_renduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchCompte_renduResult" nillable="true" type="q10:ArrayOfCompte_rendu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchIntervention">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInterventionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchInterventionResult" nillable="true" type="q11:ArrayOfIntervention" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMateriel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMaterielResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchMaterielResult" nillable="true" type="q12:ArrayOfMateriel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSociete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSocieteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchSocieteResult" nillable="true" type="q13:ArrayOfSociete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTechnicien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTechnicienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchTechnicienResult" nillable="true" type="q14:ArrayOfTechnicien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMotif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMotifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="SearchMotifResult" nillable="true" type="q15:ArrayOfMotif_intervention" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDSociete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="societe" nillable="true" type="q16:Societe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDSocieteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDCompte_rendu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="compte_rendu" nillable="true" type="q17:Compte_rendu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDCompte_renduResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDTechnicien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="technicien" nillable="true" type="q18:Technicien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDTechnicienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/API_Daltons" minOccurs="0" name="intervention" nillable="true" type="q19:Intervention" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDInterventionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>